{
    "supports": {},
    "dependencies": {
        "FubarCoder.RestSharp.Portable.Core": "4.0.7",
        "FubarCoder.RestSharp.Portable.HttpClient": "4.0.7",
        "Newtonsoft.Json": "{{newtonsoftJsonVersion}}",
        "JsonSubTypes": "{{jsonSubTypesVersion}}",
    },
    "frameworks": {
        "{{targetFrameworkNuget}}": {}
    }
}
